# Autotask Configuration
AUTOTASK_INTEGRATION_CODE=your_tracking_identifier
AUTOTASK_USERNAME=email@company.com
AUTOTASK_SECRET=your_password
# OPTIONAL: AUTOTASK_VERBOSE=True
# OPTIONAL: AUTOTASK_DEBUG=True

# ConnectWise Configuration
CONNECTWISE_COMPANY_ID=your_company_id
CONNECTWISE_PUBLIC_KEY=your_public_key
CONNECTWISE_PRIVATE_KEY=your_private_key
CONNECTWISE_CLIENT_ID=your_client_id
CONNECTWISE_BASIC_AUTH_KEY=base64 endcoded "companyid+public_key:private_key"
CONNECTWISE_API_URL=https://cwservice.5gn.com.au/v4_6_release/apis/3.0
# OPTIONAL: CONNECTWISE_VERBOSE=True
# OPTIONAL: CONNECTWISE_DEBUG=True
